<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Call Agent Interface</title>

  <link rel="stylesheet" href="/styles/default.css" type="text/css" />
  <link rel="stylesheet" href="/styles/bootstrap.css" type="text/css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      type="text/css" rel="stylesheet" />
      
</head>
<body style="margin-right:500px" ng-app="callcenterApplication" ng-controller="WorkflowController" data-ng-init="init()">

<div ng-show="UI.warning.browser" class="panel panel-default ui-warning" ng-cloak>{{UI.warning.browser}}</div>
<div ng-show="UI.warning.worker" class="panel panel-default ui-warning" ng-cloak>{{UI.warning.worker}}</div>

<div class="container" style="width:560px">

  <section class="workflow-controller" ng-cloak>

    <div class="panel panel-default">

      <div class="panel-body"> 
       <span> <div class="logout">
        <input type="button" onclick="zoomSub();"
        style="background-image:url('https://image.ibb.co/m719rk/zoom_Sub_icon.png');height:20px;width:20px;border-width:0px;">
        <input type="button" onclick="zoomAdd();"
        style="background-image:url('https://image.ibb.co/djwyj5/zoom_Add_icon.png');height:20px;width:20px;border-width:0px;">
        </div>    
        <h3 class="name" style="font-size:1.1em" class="page-header">Agent: {{worker.friendlyName}}</h3>               
        <input type="button" ng-click="logout()"
        style="background-image:url('https://imghost.io/images/2017/08/23/logout_icon.png');height:20px;width:20px;border-width:0px;">
      <div><span style="font-size:1em" ng-class="{'label-success': worker.activityName == 'Idle', 'label-danger': worker.activityName == 'Busy', 'label-default': worker.activityName == 'Offline', 'label-warning': worker.activityName == 'Reserved'}" class="label">{{worker.activityName}}</span></div>
      
      <div class="reservations">

      <!-- reservation is waiting for acceptance -->
      <div class="panel panel-default agent-reservation" ng-show="reservation != null">
        <div class="panel-heading">
          <h3 class="panel-title">Reservation</h3>
        </div>
        <div class="panel-body">

          <table>
          <tr>
            <td>
             <div class="title">{{reservation.task.attributes.title}} from {{reservation.task.attributes.name}}</div>
             <div class="timer" ng-class='{"invisible": !reservationCounter}'>created {{ reservationCounter | TaskWaitingTime }} ago</div>
             </td>
            <td class="accept-panel"><button ng-click="acceptReservation(reservation)">Accept</button></td>
          </tr>
          </table>

        </div>
      </div>
      <!-- reservation is waiting for acceptance -->

      <!-- agent is waiting for new reservation -->
        <div class="panel panel-default agent-waiting" ng-show="reservation == null && task == null">
          <div class="panel-heading">
          <h4 class="panel-title">Waiting for new task ...</h4> 
          </div>
      </div>
      <!-- agent is waiting for new reservation -->

      <!-- agent is working on a task -->
      <div class="panel panel-default agent-task" ng-show="task != null"> 

        <div class="panel-heading">

          <button ng-show="task != null"  class="btn btn-primary complete-task" ng-click="complete()">Complete Task</button>

        </div>

        <div class="panel-body">
            <div class="description">{{task.attributes.title}} from 
              <span ng-show="!task.attributes.nameIsPhoneNumber">{{task.attributes.name}}</span>
              
              <a href="#" ng-click="callPhoneNumber('{{task.attributes.name}}')" ng-show="task.attributes.nameIsPhoneNumber">{{task.attributes.name}}</a>
            </div>
            {{task.attributes.text}}
        </div>

        <!-- video -->
        <section class="agent-video-canvas" id="remote-media" ng-controller="VideoController" ng-cloak>
        </section>
        <!-- video -->

        <!-- chat -->
        <section ng-show="session.channelSid" class="chat-controller" ng-controller="ChatController" ng-cloak>
          
           <div class="load-indicator" ng-show="session.isLoading">
              <i class="fa fa-refresh fa-spin"></i>
           </div>

            <div ng-show="session.isInitialized">

            <div class="chat-canvas" scroll-glue>

              <ul class="message-list" >

                <li ng-class="{'me': message.author == session.identity}" class="message" ng-repeat="message in messages">

                  <div>

                    <div class="body">
                      <div class="needle"></div>
                      <p dynamic="message.body">{{message.body}}</p>
                    </div>
                    <div class="footer">
                      <div class="author">{{message.author}}</div>
                      <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{message.timestamp | time}}</div>
                    </div>

                  </div>

                </li>

              </ul>
              <div id="bottom"></div>

            </div>

            <div class="typing-notification"><span>{{typingNotification}}</span></div>

            <form class="chat-message-form form-horizontal" name="chatMessageForm">
              <div class="form-group">
                <div class="col-xs-8">
                  <input ng-model="message" ng-model-options="{ debounce: 250 }" ng-required="true" autocomplete="off" ng-focus="focused()" name="text" type="text" class="form-control" placeholder="Say something...">
                </div>
                <div class="col-xs-4">
                  <button ng-disabled="chatMessageForm.$invalid || chatMessageForm.$pristine" class="btn btn-primary" ng-click="send()">Send</button>
                </div>
              </div>
            </form>

          </div>  

        </section>
        <!-- chat -->

      </div>
      <!-- agent is working on a task -->

    </div>
     
    <section ng-controller="PhoneController" ng-cloak class="phone-controller" >

      <input autofocus id="dialText" style="font-size:2em; padding-left:10px;" ng-show="isActive == false" ng-model="phoneNumber" type="text" name="phoneNumber" placeholder="+..." />
      <div class="phone-number" style="font-size:2em; padding-left:10px" ng-if="isActive == true" />{{phoneNumber}}</div>

      <div class="keypad">

        <div ng-click="phoneNumber=''; addDigit('+351')" class="digit">PT</div>
        <div ng-click="phoneNumber=''; addDigit('+33')" class="digit">FR</div>      
        <div ng-click="phoneNumber=''; addDigit('')"class="digit">&#x232b;</div>
        <button  onclick="copyToClipboard('message')">copiar</button><h2 font-size"20%" id="message"></h2>
        <button  onclick="document.getElementById('message').innerHTML='{reservation.task.attributes.name}' ;">coppp</button>
      </div>
     
<script type="text/javascript">
var zoomAux=1;
        function zoomAdd() {
          zoomAux=zoomAux+0.075;
          document.body.style.zoom = zoomAux;
        }
        function zoomSub() {
          zoomAux=zoomAux-0.075;
          document.body.style.zoom = zoomAux;
        }      
</script>
<body onload="zoomAdd()">

      <button class="button-call" ng-if="isActive == false" ng-click="call(phoneNumber)">CALL</button>
      <button class="button-hangup" ng-if="isActive == true" ng-click="hangup()">HANGUP</button>
      <span class="status">Status: {{status}}</span>
      <span ng-if="error != null" class="status">Error: {{error}}</span>
    </section>

    </div>

   </div>

</section>
</div>
<script>
            		function copyToClipboard(elementId) {
 					var aux = document.createElement("input");
                    aux.setAttribute("value", document.getElementById(elementId).innerHTML);
                    document.body.appendChild(aux);
                    aux.select();
                    document.execCommand("copy");
                    document.body.removeChild(aux);
					}
					</script>
  <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
  <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.9.3/taskrouter.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.js"></script>
  <script src="https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.10/twilio-ip-messaging.js"></script>
  <script src="//media.twiliocdn.com/sdk/js/video/v1/twilio-video.min.js"></script>
  <script src="/scripts/angular.min.js"></script>
  <script src="/scripts/angular-messages.min.js"></script>
  <script src="/scripts/angular-scrollglue.js"></script>
  <script src="/scripts/moment.min.js"></script>
  <script src="WorkflowController.js"></script>
  <script src="PhoneController.js"></script>
  <script src="ChatController.js"></script>
  <script src="VideoController.js"></script>
  <script src="PasteController.js"></script>
  <script src="/scripts/directives/TaskWaitingTimeFilter.js"></script>

</body>
</html>
